@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 10%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply selection:bg-blue-200 selection:text-blue-900;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-bold leading-tight tracking-tighter text-foreground;
  }
  h1 {
    @apply text-4xl leading-[1.1] md:text-5xl lg:text-6xl xl:text-7xl;
  }
  h2 {
    @apply text-3xl md:text-4xl;
  }
  h3 {
    @apply text-2xl md:text-3xl;
  }
  h4 {
    @apply text-lg md:text-xl;
  }
  b {
    @apply font-semibold;
  }
}

@layer components {
  .navlink {
    @apply hover-opacity font-bold;
  }
  .navlink-active {
    @apply navlink text-blue-700;
  }
  .h-hero {
    @apply h-72 sm:h-80 md:h-96;
  }
  .h-hero-sm {
    @apply h-40 sm:h-48 md:h-56;
  }
  .spectrum-background {
    @apply absolute top-0 left-0 w-full h-screen animate-move-gradient bg-blend-hard-light
    md:h-[80vh] lg:h-[125vh]
    after:block after:w-full after:h-full after:absolute after:top-0 after:left-0
    after:bg-gradient-to-t after:from-white;
    background: linear-gradient(to right, #2563EB, #21B298, #1DCDFE, #EBED8A 99%),
      linear-gradient(to top left, #EBED8A 25%, transparent, #DFF5CE),
      linear-gradient(to top right, #EBED8A, #2563ebb3, transparent 30%),
      radial-gradient(circle, #EBED8A, #EBED8A, transparent);
    background-size: 2000% 2000%;
  }
}

@layer utilities {
  .section-auto {
    @apply mx-auto max-w-3xl px-4 py-10;
  }
  .section-content {
    @apply mx-auto max-w-6xl px-4 py-10;
  }
  .p-layout {
    @apply px-2 sm:px-4;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .text-p {
    @apply text-base sm:text-lg;
  }
  .hover-opacity {
    @apply transition hover:opacity-70;
  }
  .prose-config {
    @apply prose lg:prose-lg;
    @apply prose-a:hover-opacity prose-a:font-semibold prose-a:no-underline;
    @apply prose-code:before:content-none prose-code:after:content-none;
  }
}
